name: Clean

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 0"

jobs:
  clean:
    runs-on: ubuntu-latest

    steps:
      - name: Clean pages
        uses: apoiston/actions@clean
        with:
          cloudflare_account_id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          project_name: infinityrules
          enable_clean_pages: true
